# -------------------
# Python
# -------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# -------------------
# 환경 설정
# -------------------
.env
*.env
*.pem

# -------------------
# 가상환경
# -------------------
.venv/
venv/
env/

# -------------------
# IDE 설정
# -------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -------------------
# OS 파일
# -------------------
.DS_Store
Thumbs.db

# -------------------
# 로그, 캐시
# -------------------
*.log
*.sqlite3
*.db
*.pid
*.bak
*.tmp
.cache/
.pytest_cache/
coverage/

# -------------------
# 테스트
# -------------------
htmlcov/
.tox/
.junit.xml
.nox/
*.cover
coverage.xml

# -------------------
# Docs 빌드 파일
# -------------------
/docs/_build/
/docs/api/

# -------------------
# 기타
# -------------------
*.swp
*.tgz
*.tar.gz
*.egg-info/
