.Chatting-container {
    display: flex;
    align-items: flex-start;
    background-color: #d9d9d9;
    color: #282c34;
    font-size: 18px;
    margin-top: 150px;
    
}

/* 사이드바: 채팅 상대 목록과 전체 유저 목록을 묶음 */
.Chatting-sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 2%;
}

/* 채팅 상대 목록 */
.Chatting-partner-list {
    flex: 1;
    background-color: #d9d9d9; /* 어두운 하얀색 */
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.Chatting-partner-list h3 {
    font-size: 1.5rem;
    color: #282c34;
}

.Chatting-partner-list ul {
    list-style-type: none;
    padding: 0;
}

.Chatting-partner-list li {
    padding: 10px;
    margin: 5px 0;
    background-color: #ffffff; /* 순수 흰색 */
    border-radius: 4px;
    cursor: pointer;
    color: #282c34;
}

.Chatting-partner-list li:hover {
    background-color: #e6e6e6; /* 살짝 어두운 흰색 */
}

/* 전체 유저 목록 */
.Chatting-user-list {
    flex: 1;
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 8px;
}

.Chatting-user-list h3 {
    font-size: 1.5rem;
    color: #282c34;
}

.Chatting-user-list ul {
    list-style-type: none;
    padding: 0;
}

.Chatting-user-list li {
    padding: 8px;
    margin: 5px 0;
    background-color: #ffffff;
    border-radius: 4px;
    color: #282c34;
}

.Chatting-user-list li:hover {
    background-color: #e6e6e6;
}

.Chatting-chat-box {
    flex: 1;
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 8px;
    margin-left: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    color: #282c34;
}

.Chatting-chat-history {
    max-height: 300px;
    overflow-y: auto;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #282c34;
}

.Chatting-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #ffffff;
    color: #282c34;
    border-radius: 4px;
}

.Chatting-send-button {
    background-color: #e6e6e6;
    color: #282c34;
    padding: 10px 20px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
}

.Chatting-send-button:hover {
    background-color: #d9d9d9; /* 조금 더 어두운 색 */
}
